USE [master]
GO
/****** Object:  Database [DBTeste]    Script Date: 27/09/2019 15:33:15 ******/
CREATE DATABASE [DBTeste]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTeste', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBTeste.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBTeste_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBTeste_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTeste].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTeste]
GO
USE [DBTeste]
GO
/****** Object:  User [andryw1]    Script Date: 27/09/2019 15:33:16 ******/
CREATE USER [andryw1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [andryw]    Script Date: 27/09/2019 15:33:16 ******/
CREATE USER [andryw] FOR LOGIN [andryw] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TB_PESSOAS]    Script Date: 27/09/2019 15:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PESSOAS](
	[PES_ID] [int] IDENTITY(1,1) NOT NULL,
	[PES_NOME] [varchar](50) NOT NULL,
	[PES_CPF] [varchar](15) NOT NULL,
	[PES_DT_NASCIMENTO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AtualizarPessoa]    Script Date: 27/09/2019 15:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AtualizarPessoa]
(
	@PessoaId int,
	@PessoaNome varchar(10),
	@PessoaDtnascimento varchar(10),
	@PessoaCPF varchar(15)
)
as
begin
	UPDATE TB_PESSOAS set PES_NOME = @PessoaNome, PES_DT_NASCIMENTO = @PessoaDtnascimento, PES_CPF = @PessoaCPF where PES_ID = @PessoaId
end
GO
/****** Object:  StoredProcedure [dbo].[ExcluirPessoaPorId]    Script Date: 27/09/2019 15:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExcluirPessoaPorId]
(
	@PessoaId int
)
as
begin
	Delete From TB_PESSOAS where PES_ID = @PessoaId
end
GO
/****** Object:  StoredProcedure [dbo].[IncluirPessoa]    Script Date: 27/09/2019 15:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncluirPessoa]
(
	@PessoaNome varchar(100),
	@PessoaDtnascimento varchar(100),
	@PessoaCPF varchar(15)
)
as 
begin
	INSERT INTO TB_PESSOAS values (@PessoaNome, @PessoaCPF, @PessoaDtnascimento)
 end
GO
/****** Object:  StoredProcedure [dbo].[ObterPessoas]    Script Date: 27/09/2019 15:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[ObterPessoas]

 as
 
 begin
	select PES_ID, PES_NOME, PES_CPF, PES_DT_NASCIMENTO from TB_PESSOAS
end
GO
USE [master]
GO
